<div>
    <h2 translate="habitBrakerApp.exerciseRegularly.home.title">Exercise Regularlies</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="exercise-regularly.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="habitBrakerApp.exerciseRegularly.home.createLabel">
                        Create new Exercise Regularly
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="committedTo"><span translate="habitBrakerApp.exerciseRegularly.committedTo">Committed To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pledgedAmmount"><span translate="habitBrakerApp.exerciseRegularly.pledgedAmmount">Pledged Ammount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pledgedCharity"><span translate="habitBrakerApp.exerciseRegularly.pledgedCharity">Pledged Charity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span translate="habitBrakerApp.exerciseRegularly.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span translate="habitBrakerApp.exerciseRegularly.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span translate="habitBrakerApp.exerciseRegularly.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userLogin"><span translate="habitBrakerApp.exerciseRegularly.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="exerciseRegularly in vm.exerciseRegularlies track by exerciseRegularly.id">
                    <td><a ui-sref="exercise-regularly-detail({id:exerciseRegularly.id})">{{exerciseRegularly.id}}</a></td>
                    <td>{{exerciseRegularly.committedTo}}</td>
                    <td>{{exerciseRegularly.pledgedAmmount}}</td>
                    <td translate="{{'habitBrakerApp.Charities.' + exerciseRegularly.pledgedCharity}}">{{exerciseRegularly.pledgedCharity}}</td>
                    <td>{{exerciseRegularly.startDate | date:'medium'}}</td>
                    <td>{{exerciseRegularly.endDate | date:'medium'}}</td>
                    <td>{{exerciseRegularly.notes}}</td>
                    <td>
                        {{exerciseRegularly.userLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="exercise-regularly-detail({id:exerciseRegularly.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="exercise-regularly.edit({id:exerciseRegularly.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="exercise-regularly.delete({id:exerciseRegularly.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
